{% extends 'medicines/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div>
    <h1 align="center">Ваша персональная аптека</h1>
    <p1>Вы попали в чудесный мир онлайн аптеки! Здесь Вы найдете лекарства, которые помогут подлатать Ваше здоровье.</p1>
    <h1>Полюбуйтесь милой собачкой</h1>
    <h1>и получите заряд хорошего настроения на весь день!</h1>
    <img src="{{ image_url }}" alt="Such image doesn't exist :(" style="max-width: 500px;">
    <p1>Спасибо, что выбрали нас.</p1>
    <hr>

</div>
      <h1>Листинг</h1>
    <listing>
        class FAQ(models.Model):
        question = models.CharField(max_length=100, verbose_name='Вопрос')
        answer = models.TextField(blank=True, verbose_name='Ответ')
        date = models.DateField(auto_now_add=True, verbose_name='Дата добавления на сайт')

        class Meta:
            verbose_name = 'FAQ'
            verbose_name_plural = 'FAQs'

        def __str__(self):
            return self.question
    </listing>

    <!-- nav>ul>li EMMET - сокращения-->
    <hr>
    <center><div class="trapezoid "></div></center>
    <hr>
     <table border="1" cellpadding="5" width="100%">
    <tr>
     <td colspan="2">Ячейка 1</td>
     <td rowspan="2">Ячейка 2</td>
    </tr>
    <tr>
     <td>Ячейка 3</td>
     <td>Ячейка 4</td>
    </tr>
   </table>
    <hr>

    <h2>Какой Ваш любимый фрукт?</h2>
    <form>
        <label for="fruits">Выберите фрукт:</label>
        <select id="fruits" name="fruits">
        <option value="apple">Яблоко</option>
        <option value="banana">Манго</option>
        <option value="orange">Апельсин</option>
        </select>
    </form>
    <hr>


{% endblock %}
