{% extends 'medicines/layout.html' %}
{% load static %}
{% block title %}О нашей компании{% endblock %}

{% block content %}
    <h2 align="middle">Информация о нашей компании</h2>
    <hr/>
        <center>
        <div class="logo">
            <img src="{% static 'medicines/images/logo.svg'%}" width="80" height="80"/>
        </div>
        <span class="company-name">Pharmacy</span>
        </center>
    <hr/>
    <center>
    <p>Мы предлагаем широкий ассортимент лекарственных препаратов, витаминов, медицинских изделий и товаров для здоровья
        и красоты. Все наши продукты сертифицированы и поставляются от надежных производителей.</p>
    <p>Наша онлайн платформа удобна и проста в использовании. Вы можете легко найти нужные вам товары с помощью поиска
        по нашей базе данных или просмотреть категории товаров для удобного выбора. Оформление заказа занимает всего
        несколько кликов, и вы можете выбрать удобный способ доставки.</p>
    <p>Мы гарантируем полную конфиденциальность вашей информации и персональных данных. Все данные, предоставленные вами
        при оформлении заказа, обрабатываются с соблюдением всех правил и нормативов в области защиты данных.</p>
    <p>Мы стремимся предоставить высокое качество обслуживания и удовлетворить потребности наших клиентов в области
        здоровья и медицинских товаров. Благодарим вас за выбор Pharmacy и надеемся на долгосрочное сотрудничество!</p>
    </center>
    <hr/>
    <center>
        <h2>Мы работаем для Вас!</h2>
        <hr/>
        <iframe width="1280" height="720"
                src="https://www.youtube.com/embed/83AFNb6-pOY"
                title="Аптечная сеть «Апрель» #МыРаботаем"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        <audio controls>
            <source src="{% static 'medicines/audio/lonely.mp3' %}">
        </audio>
    </center>
    <hr/>
    <ul class="timeline-list">
        <li><b>2021:</b> Основание компании "Pharmacy". </li>
        <li><b>2022:</b> Завершение успешных проектов и открытие новых филлиалов.</li>
        <li><b>2023:</b> Создание сайта и начало работы с нашими клиентами онлайн.</li>
    </ul>
    <hr/>
    <h2 align="middle">Реквизиты</h2>
    <hr/>
    <ol>
        <li><b>Название сети аптек: </b>Pharmacy</li>
        <li><b>Лицензия: </b>лицензия №847753, выдана минестерством здравоохранения Республики Беларусь</li>
        <li><b>Контакты(почта, горячая линия): </b>fharmacy@apt.com, +375373659903</li>
    </ol>
    <hr/>
    <h2 align="middle"><a href="{% url 'certificate' %}" target="_blank">Сертификат компании</a></h2>

{% endblock %}