{% extends 'medicines/layout.html' %}
{% block title %}Купоны и промокоды{% endblock %}

{% block content %}
    <h1 align="center">Купоны и промокоды</h1>

    <div class="coupons-container">
        <div class="active-coupons">
            <h2>Активные</h2>
            <ul class="coupons-list">
                {% for p in posts %}
                {% if not p.archived %}
                    <li class="coupon-item">
                        <h3>{{ p.title }}</h3>
                        <p>{{ p.description }}</p>
                    </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div class="archived-coupons">
            <h2>В архиве</h2>
            <ul class="coupons-list">
                {% for p in posts %}
                {% if p.archived %}
                    <li class="coupon-item archived">
                        <h3>{{ p.title }}</h3>
                        <p>{{ p.description }}</p>
                    </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}