{% extends 'medicines/layout.html' %}
{% block title %}Купоны и промокоды{% endblock %}

{% block content %}
    <h1>Купоны и промокоды</h1>
    <h2>Активные</h2>
    <table border="1">
        <tr>
        <th>Название</th>
        <th>Описание</th>
        </tr>

            {% for p in posts %}
            {% if not p.archived %}
                <tr>
                    <td><h3>{{ p.title }}</h3></td>
                    <td><p>{{p.description}}</p></td>
                </tr>
            {% endif %}
            {% endfor %}

    </table>
    <h2>В архиве</h2>
    <table border="1">
        <tr>
        <th>Название</th>
        <th>Описание</th>
        </tr>
            {% for p in posts %}
            {% if p.archived %}
                <tr>
                    <td><h3>{{ p.title }}</h3></td>
                    <td><p>{{p.description}}</p></td>
                </tr>
            {% endif %}
            {% endfor %}
    </table>

{% endblock %}