{% extends 'medicines/layout.html' %}
{% block title %}Сотрудники{% endblock %}

{% block content %}
    <h1 align="center">Наши сотрудники всегда готовы Вам помочь!</h1>

    <div class="employees-container">
        {% for p in posts %}
            <div class="employee-card">
                {% if p.photo %}
                    <img src="{{ p.photo.url }}" alt="{{ p.name }}">
                {% endif %}
                <div class="employee-info">
                    <p>{{ p.name }}</p>
                    <p>{{ p.description }}</p>
                    <p>{{ p.phone_number }}</p>
                    <p>{{ p.email }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
