{% extends 'medicines/layout.html' %}
{% block title %}Часто задаваемые вопросы{% endblock %}

{% block content %}
    <dl>
        <dt>Аптека</dt>
        <dd>Учреждение, в котором изготовляются и продаются лекарства.</dd>
        <dt>Лекарство</dt>
        <dd>Лечебное средство.</dd>
    </dl>
    <abbr title = "магнитно-резонансная томография (МРТ)">MRI</abbr>
    <abbr title = "электрокардиограмма (ЭКГ)">EKG</abbr>
    <abbr title = "общий анализ крови">CBC</abbr>
    <h1>Часто задаваемые вопросы</h1>
    {% for p in posts %}
        <hr/>
        <details>
            <summary><h2>{{ p.question }}</h2></summary>
            <p>{{p.answer}}</p>
            <p>{{p.date}}</p>
        </details>
    {% endfor %}

{% endblock %}