{% extends 'medicines/layout.html' %}
{% load static %}
{% block title %}Лабораторная №2{% endblock %}

{% block content %}
    <h1 align="center"> Вторая лабораторная работа</h1>
    <form class="stylized-form">
        <label for="name">Имя:</label>
        <input type="text" id="name" name="name" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="age">Возраст:</label>
        <input type="number" id="age" name="age" min="18" max="99">

        <label for="comments">Комментарии:</label>
        <textarea id="comments" name="comments" rows="4" cols="50" disabled></textarea>

        <div><label>Пол:</label></div>
        <div class="form_radio">
	        <input id="male" type="radio" name="gender" value="male" checked>
	        <label for="male">Мужской</label>
        </div>
        <div class="form_radio">
	        <input id="female" type="radio" name="gender" value="female">
	        <label for="female">Женский</label>
        </div>
        <div class="form_radio">
	        <input id="cat" type="radio" name="gender" value="cat" disabled>
	        <label for="cat">Кот</label>
        </div>

        <label class="checkbox style-d">
            <input type="checkbox" id="subscribe" name="subscribe" checked/>
            <div class="checkbox__checkmark"></div>
            <div class="checkbox__body">Подписаться</div>
        </label>

        <input class="custom-button" type="submit" value="Отправить">
    </form>

    <p class="quote-ru">Счастлив тот, кто счастлив у себя дома.</p>
    <cite>Лев Толстой (1828-1910)</cite>
    <p class="quote-en">Happy is the person who is happy at home.</p>
    <cite>Leo Tolstoy (1828-1910)</cite>
    <div class="banner">
        <div class="animated-object">
            <img src="{% static 'medicines/images/banner.png' %} " title = "Баннер компании" height="150" width="120"/>
        </div>
    </div>

    <h2>Пример списка с разграничением на первый, последний и средние эл-ты</h2>
    <ul class="timeline-list">
        <li><b>1</b> Один кот. </li>
        <li><b>2</b> Два кота.</li>
        <li><b>3</b> Три кота.</li>
        <li><b>4</b> Четыре кота.</li>
        <li><b>5</b> Пять котов.</li>
    </ul>
{% endblock %}