{% extends 'medicines/layout.html' %}
{% load static %}
{% block title %}Лабораторная №3{% endblock %}

<head>
    <link rel="stylesheet" href="{% static 'css/2bannersstyles.css' %}">
</head>

{% block content %}
    <form id="adminForm">
        <label for="interval">Промежуток времени (в секундах): </label>
        {% if user.is_superuser %}
            <input type="number" id="interval" name="interval" min="1" value="5">
            <button type="button" onclick="updateRotationInterval()">Обновить</button>
        {% else %}
            <input type="number" id="interval" name="interval" value="5" disabled>
        {% endif %}
    </form>

<div class="banner-container">
    <div class="banner" onclick="openLink('https://en.wikipedia.org/wiki/List_of_dragons_in_mythology_and_folklore')">
        <img src="{% static 'medicines/images/banner1.jpg' %} " alt="Banner 1">
    </div>
    <div class="banner" onclick="openLink('https://puzzlegarage.com/puzzle/3992/')">
        <img src="{% static 'medicines/images/banner2.jpg' %} " alt="Banner 2">
    </div>
    <!-- Add more banners as needed -->
</div>

    <script src="{% static 'medicines/js/2banners.js' %}" defer></script>


   <h1>Настройки страницы</h1>

  <label>
    <input type="checkbox" id="showSettingsCheckbox" checked> Показать настройки
  </label>

  <form id="settingsForm">
    <label>
      <input type="checkbox" id="fontSizeCheckbox"> Изменить размер шрифта
    </label>
    <br>
    <label>
      <input type="checkbox" id="textColorCheckbox"> Изменить цвет текста
    </label>
    <br>
    <label>
      <input type="checkbox" id="asideColorCheckbox"> Изменить цвет aside
    </label>
  </form>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var showSettingsCheckbox = document.getElementById('showSettingsCheckbox');
      var settingsForm = document.getElementById('settingsForm');
      var asideElement = document.querySelector('aside');

      showSettingsCheckbox.addEventListener('change', function () {
        settingsForm.style.display = showSettingsCheckbox.checked ? 'block' : 'none';
      });

      var fontSizeCheckbox = document.getElementById('fontSizeCheckbox');
      var textColorCheckbox = document.getElementById('textColorCheckbox');
      var asideColorCheckbox = document.getElementById('asideColorCheckbox');

      fontSizeCheckbox.addEventListener('change', function () {
        document.body.style.fontSize = fontSizeCheckbox.checked ? '20px' : '16px';
      });

      textColorCheckbox.addEventListener('change', function () {
        document.body.style.color = textColorCheckbox.checked ? '#ff0000' : '#333';
      });

      asideColorCheckbox.addEventListener('change', function () {
        asideElement.style.backgroundColor = asideColorCheckbox.checked ? '#e6e6e6' : '#16A741';
      });
    });
  </script>

{% endblock %}