{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="{% static "medicines/css/styles.css" %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.0/css/all.css">
    <link rel="shortcut icon" href="{% static 'medicines/images/icon.png' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400&display=swap">
    <script src="{% static 'medicines/js/script3.js' %}"></script>
    <script src="{% static 'medicines/js/script1.js' %}"></script>
</head>
<body translate = "yes">
    <nav>
        <ul class="hr">
            <li><a href="{% url 'main' %}"><i class="fas fa-house-medical"></i>Главная</a></li>
            <li><a href="{% url 'company' %}"><i class="fas-sharp fa-solid fa-heart-pulse"></i>О нас ^_^</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'news' %}"><i class="fas fa-house-medical"></i>Новости</a></li>
            {% endif %}
            {% if user.is_authenticated %}
                <li><a href="{% url 'coupons' %}"><i class="fas fa-map-pin"></i>Купоны и промокоды</a></li>
            {% endif %}
            {% if user.is_superuser %}
                <li><a href=" http://127.0.0.1:8000/admin" target="_blank"><li><i class="fas fa-house-medical"></i>Админка</a></li>
            {% endif %}
            {% if user.is_authenticated %}
                <li><a href="{% url 'home' %}"><i class="fas fa-right-from-bracket"></i>Выход</a></li>
            {% else %}
                <li><a href="{% url 'login' %}"><i class="fas fa-right-from-bracket"></i>Вход</a></li>
            {% endif %}


        </ul>
    </nav>
    <aside>
        <img src="{% static 'medicines/images/logo.svg' %}" alt="Аптека">
        <span class="logo">Pharmacy</span>
        <p id="current-time">Наше время</p>
        <script src="{% static 'medicines/js/8countdown.js' %}" defer></script>
        <p id="countdown"></p>
        <script src="{% static 'medicines/js/for8clear_local_storage.js' %}" defer></script>
        <button onclick="clearLocalStorage()" class="custom-button">Очистить локальное хранилище</button>
        <h3>Навигация</h3>
        <ul>
            {% if user.is_authenticated %}
                <a href="{% url 'about' %}"><li><i class="fas-sharp fa-solid fa-heart-pulse"></i>Мы любим Вас</li></a>
            {% endif %}
            <a href="{% url 'medlist' %}"><li><i class="fas fa-pills"></i>Список лекарств</li></a>
            <a href="{% url 'pharms' %}"><li><i class="fas fa-map-pin"></i>Список физических аптек</li></a>
            {% if user.is_authenticated %}
                <a href="{% url 'vacancies' %}"><li><i class="fas-sharp fa-solid fa-heart-pulse"></i>Вакансии</li></a>
            {% endif %}
            {% if user.is_authenticated %}
                <a href="{% url 'employees' %}"><li><i class="fas fa-pills"></i>Сотрудники</li></a>
            {% endif %}
            {% if user.is_authenticated %}
                <a href="{% url 'faqs' %}"><li><i class="fas fa-map-pin"></i>Часто задаваемые вопросы</li></a>
            {% endif %}

            <a href="{% url 'feedback_view' %}"><li><i class="fas fa-map-pin"></i>Отзывы</li></a>
            <a href="{% url 'lab2css' %}"><li><i class="fas fa-map-pin"></i>Лабораторная №2</li></a>
            <a href="{% url 'lab3js' %}"><li><i class="fas fa-map-pin"></i>Лабораторная №3</li></a>
            <a href="{% url 'task10_1' %}"><li><i class="fas fa-map-pin"></i>10_1</li></a>
            <a href="{% url 'task10_2' %}"><li><i class="fas fa-map-pin"></i>10_2</li></a>
            <a href="{% url 'task11' %}"><li><i class="fas fa-map-pin"></i>11</li></a>
        </ul>
    </aside>
    <main>
        <script src="{% static 'medicines/js/7age.js' %}" defer></script>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>© 2023 Elis</p>
    </footer>
</body>
</html>