{% extends 'medicines/layout.html' %}
{% load static %}
{% block title %}Главная{% endblock %}

{% block content %}
    <h2 align="middle" >Баннер нашей компании</h2>
    <hr/>
    <center>
        <img src="{% static 'medicines/images/banner.png' %} " title = "Баннер компании" />
    </center>

    <div class="last-article-info">
        <h2>Последняя новость</h2>
      {% for p in posts %}
            {% if forloop.last %}
                <h2>{{ p.name }}</h2>
            {% if p.image %}
                <p><img src="{{ p.image.url }}"></p>
            {% endif %}
            <p>{{ p.summary }}</p>
            <details>
                <summary>Читать далее...</summary>
                <p>{{p.article}}</p>
            </details>
            {% endif %}
        {% endfor %}

    </div>

    <hr/>
    <h2 align="middle">Наши компании-партнеры</h2>
    <hr/>
    <div class="partners-list">
        <div class="partner-block">
            <a href="https://belarusbank.by/ru/fizicheskim_licam/31886/internet_banking" target="_blank">
            <img src="{% static 'medicines/images/belarusbank_logo.jpg' %}" width="60" height="50" alt="Беларусбанк">
            </a>
        </div>
        <div class="partner-block">
            <a href="https://www.boiron.ru/" target="_blank">
            <img src="{% static 'medicines/images/boiron_logo.png' %}" width="60" height="50" alt="Бойрон">
            </a>
        </div>
        <div class="partner-block">
            <a href="https://servier.ru/" target="_blank">
            <img src="{% static 'medicines/images/servier_logo.svg.png' %}" width="60" height="50" alt="Сервьер">
            </a>
        </div>
    </div>
    <hr/>
    <center><a href="{% url 'privacy_policy' %}" target="_blank">Политика конфиденциальности</a></center>


{% endblock %}