{% extends 'medicines/layout.html' %}
{% load static %}
{% block title %}Список лекарств{% endblock %}

{% block content %}
    <article id="part1" align="middle"><h1>Список лекарств</h1></article>
<div class="catalog-container">
    {% if posts %}
        {% for p in posts %}
            <div class="product">
                <h3>{{p.title}}</h3>
                <p>{{p.content|linebreaks}}</p>
                <p>Категория: {{p.category}}</p>
                <p>Цена: {{p.price}}</p>
                <p>Количество: {{p.quantity}}</p>
                {% if p.photo %}
                    <p><img class="img-left thumb" src="{{p.photo.url}}"></p>
                {% endif %}
                {% if user.is_authenticated %}
                    <a href="{{ p.get_absolute_url }}">Купить</a>
                {% endif %}
                <hr>
            </div>
          {% endfor %}
    {% else %}
        <p>Лекарств нет в продаже.</p>
    {% endif %}
</div>
    <br>
    <br>
    <center><a href="#part1">К началу списка</a></center>
    <br>
    <br>
{% endblock %}