{% extends 'medicines/layout.html' %}
{% load static %}
{% block title %}Новости{% endblock %}

{% block content %}
    <h2 align="middle">Новости </h2>
    {% for p in posts %}
        <hr/>
        <h2>{{ p.name }}</h2>
            {% if p.image %}
                <p><img src="{{ p.image.url }}"></p>
            {% endif %}
        <p>{{ p.summary }}</p>
        <details>
            <summary>Читать далее...</summary>
            <p>{{p.article}}</p>
        </details>
    {% endfor %}
    <br>
    <br>
{% endblock %}