{% extends 'medicines/layout.html' %}
{% load static %}
{% block title %}Новости{% endblock %}

{% block content %}
    <h2 align="middle">Новости</h2>
    <hr/>
    <div>
        <h2>Новое исследование: Зеленый чай помогает улучшить память</h2>
        <img src="{% static 'medicines/images/tea.png'%}" width="400" height="250"/>
        <p> Ученые обнаружили, что употребление зеленого чая может значительно повысить когнитивные способности и улучшить память.</p>
        <details>
        <summary>Читать далее... </summary>
        <p>Пить зеленый чай полезно не только для сердца, но и для улучшения памяти. Исследователи из Китая обнаружили,
            что химические вещества этого поистине целебного напитка влияют на формирование клеток участка мозга,
            отвечающего за память и пространственную ориентацию.Причина положительноо эффекта заключена в антиоксиданте
            EGCG (галлат эпигаллокатехина), содержащемся в чае. Он способствует генерации клеток головного мозга и
            помогает предотвратить дегенеративные возрастные заболевания.</p>
        </details>
    </div>
    <hr/>
    <div>
        <h2>Искусственный интеллект в медицине: как AI помогает диагностировать заболевания</h2>
        <img src="{% static 'medicines/images/ai.png'%}" width="400" height="250"/>
        <p> Искусственный интеллект успешно применяется в медицине для улучшения диагностики различных заболеваний,
            что может значительно сократить риск ошибок.</p>
        <details>
        <summary>Читать далее... </summary>
        <p>С развитием искусственного интеллекта в медицине уровень точности диагностики значительно возрос.
            AI-системы могут анализировать медицинские данные и изображения, помогая врачам выявлять заболевания на ранних
            стадиях и предоставляя ценную информацию для принятия решений. Это открывает новые возможности для более
            эффективного лечения пациентов.</p>
        </details>
    </div>
    <hr/>
    <div>
        <h2>Развитие сети аптек в сельских районах: преодоление вызовов</h2>
        <img src="{% static 'medicines/images/sx.png'%}" width="400" height="250"/>
        <p> Аптечные сети активно работают над расширением своей деятельности в сельских районах, что помогает
            обеспечивать доступ к лекарствам и медицинским услугам населению сельской местности.</p>
        <details>
        <summary>Читать далее... </summary>
        <p>В последние годы сельские районы столкнулись с недостаточным доступом к медицинским услугам и лекарствам.
            Аптечные сети прилагают усилия для расширения своего присутствия в сельских районах, что помогает решить эту
            проблему и обеспечить жителей необходимыми медицинскими ресурсами.</p>
        </details>
    </div>
    <hr/>
    <div>
        <h2>Инновации в аптеках: борьба с фальсификацией лекарств</h2>
        <img src="{% static 'medicines/images/contr.png'%}" width="400" height="250"/>
        <p> Аптечные сети внедряют технологические решения для борьбы с фальсификацией лекарств, обеспечивая безопасность пациентов.</p>
        <details>
        <summary>Читать далее... </summary>
        <p>Фальсификация лекарств стала серьезной проблемой, угрожающей здоровью пациентов. Аптечные сети активно внедряют
            технологические решения, такие как QR-коды и системы отслеживания, чтобы обеспечить подлинность и безопасность
            лекарств, предлагаемых ими.</p>
        </details>
    </div>

    <br>
    <br>
{% endblock %}