{% extends 'medicines/layout.html' %}
{% load static %}
{% block title %}Новости{% endblock %}

{% block content %}
    <h2 align="middle">Новости</h2>
    <hr/>
    <div>
        <h2>Новое исследование: Зеленый чай помогает улучшить память</h2>
        <img src="{% static 'medicines/images/tea.png'%}" width="350" height="200"/>
        <p> Ученые обнаружили, что употребление зеленого чая может значительно повысить когнитивные способности и улучшить память.</p>
        <details>
        <summary>Читать далее... </summary>
        <p>Пить зеленый чай полезно не только для сердца, но и для улучшения памяти. Исследователи из Китая обнаружили,
            что химические вещества этого поистине целебного напитка влияют на формирование клеток участка мозга,
            отвечающего за память и пространственную ориентацию.Причина положительноо эффекта заключена в антиоксиданте
            EGCG (галлат эпигаллокатехина), содержащемся в чае. Он способствует генерации клеток головного мозга и
            помогает предотвратить дегенеративные возрастные заболевания.</p>
        </details>
    </div>
    <hr/>
    <div>
        <h2>Искусственный интеллект в борьбе с климатическими изменениями</h2>
        <img src="{% static 'medicines/images/tea.png'%}" width="350" height="200"/>
        <p> ИИ начинает активно применяться в экологических проектах для эффективного контроля и снижения вредных выбросов.</p>
        <details>
        <summary>Читать далее... </summary>
        <p>Пить зеленый чай полезно не только для сердца, но и для улучшения памяти. Исследователи из Китая обнаружили,
            что химические вещества этого поистине целебного напитка влияют на формирование клеток участка мозга,
            отвечающего за память и пространственную ориентацию.Причина положительноо эффекта заключена в антиоксиданте
            EGCG (галлат эпигаллокатехина), содержащемся в чае. Он способствует генерации клеток головного мозга и
            помогает предотвратить дегенеративные возрастные заболевания.</p>
        </details>
    </div>


{% endblock %}