<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Политика конфиденциальности</title>
</head>
<body>
    <h1>Политика конфиденциальности</h1>
    <p>Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) действует в
        отношении всей информации, которую сайт может получить о Пользователе во время использования сайта, программ и
        продуктов сайта.</p>
    <h2>Определение терминов</h2>
    <ol>
        <li><b>"Администрация сайта"</b> – уполномоченные сотрудники на управления сайтом, действующие от ООО «Фармаимпекс»,
            которые организуют и (или) осуществляет обработку персональных данных, а также определяет цели обработки
            персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с
            персональными данными.</li>
        <li><b>«Персональные данные»</b> — любая информация, относящаяся к прямо или косвенно определенному или определяемому
            физическому лицу (субъекту персональных данных).</li>
        <li><b>«Обработка персональных данных»</b> — любое действие (операция) или совокупность действий (операций), совершаемых
            с использованием средств автоматизации или без использования таких средств с персональными данными, включая
            сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение,
            использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление,
            уничтожение персональных данных.</li>
        <li><b>«Конфиденциальность персональных данных»</b> — обязательное для соблюдения Оператором или иным получившим доступ
            к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных
            данных или наличия иного законного основания.</li>
        <li><b>«Пользователь сайта (далее Пользователь)» </b> – лицо, имеющее доступ к Сайту, посредством сети Интернет и
            использующее Сайт. Пользователем считается любой посетитель Сайта - как зарегистрированный, так и не
            зарегистрированный.</li>
        <li><b>«Cookies»</b> — небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя,
            который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть
            страницу соответствующего сайта.</li>
        <li><b>«IP-адрес»</b> — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.</li>
    </ol>
    <h2>Общие положения</h2>
    <ol>
        <li>Использование Пользователем сайта означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.</li>
        <li> В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование сайта.</li>
        <li>Настоящая Политика конфиденциальности применяется только к сайту b-apteka.ru. Сайт не контролирует и не несет
            ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на сайте.</li>
        <li>Администрация сайта не проверяет достоверность персональных данных, предоставляемых Пользователем Сайта.</li>
    </ol>
    <h2>Предмет политики конфиденциальности</h2>
        <ol>
            <li>Настоящая Политика конфиденциальности устанавливает обязательства Администрации сайта по неразглашению
                и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет
                по запросу Администрации сайта при регистрации на сайте или при оформлении предварительного заказа для
                бронирования Товара.</li>
            <li>Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности в
                соответствии с целями сбора, указанными в разделе 4 настоящей Политики, предоставляются Пользователем
                путём заполнения регистрационной формы на Сайте b-apteka.ru в разделе «Личный кабинет» и включают в себя
                следующую информацию:
                <ol>
                    <li>контактный телефон Пользователя;</li>
                    <li>адрес электронной почты (e-mail).</li>
                </ol>
            </li>

            <li>Сайт защищает Данные, которые автоматически передаются в процессе просмотра рекламных блоков
                и при посещении страниц, на которых установлен статистический скрипт системы («пиксель»):
                <ul>
                    <li>IP адрес;</li>
                    <li>информация из cookies;</li>
                    <li>информация о браузере (или иной программе, которая осуществляет доступ к показу рекламы);</li>
                    <li>время доступа;</li>
                    <li>адрес страницы, на которой расположен рекламный блок;</li>
                    <li>реферер (адрес предыдущей страницы).</li>
                </ul>
                <ol>
                    <li>Отключение cookies может повлечь невозможность доступа к частям сайта, требующим авторизации.</li>
                    <li>Сайт осуществляет сбор статистики об IP-адресах своих посетителей. Данная информация используется
                        с целью выявления и решения технических проблем.</li>
                </ol>
            </li>
            <li>Любая иная персональная информация неоговоренная выше (история заказов, используемые браузеры и
                операционные системы и т.д.) подлежит надежному хранению и нераспространению, за исключением случаев,
                предусмотренных в п.п. 5.2. и 5.3. настоящей Политики конфиденциальности.</li>
            <li>Обработка специальных категорий персональных данных, касающихся расовой, национальной принадлежности,
                политических взглядов, религиозных или философских убеждений, состояния здоровья, интимной жизни,
                а также биометрических персональных данных, Администрацией Сайта не осуществляется.</li>
            <li>Субъектами персональной информации, обработка которой осуществляется Администрацией Сайта, являются посетители Сайта Pharmacy.</li>
            <li>Субъектами персональной информации, обработка которой осуществляется Администрацией Сайта, являются посетители Сайта Pharmacy.</li>
        </ol>
    <h2>Цели сбора персональной информации пользователя</h2>
    <ol>
        <p>Персональные данные Пользователя Администрация сайта может использовать в целях:</p>
        <li>Идентификации Пользователя, зарегистрированного на сайте, для оформления предварительного заказа (бронирования) товара.</li>
        <li> Предоставления Пользователю доступа к персонализированным ресурсам Сайта</li>
        <li><p>Предоставления Пользователю доступа к отображаемой на Сайте информации в рамках участия в Программе лояльности
            ФАРМАБОНУС, а именно – о номере карты и телефона, состоянии бонусного счета, соотношении бонусов к рублю,
            дополнительных привилегиях, интересующих категориях товаров (далее – Информация об участнике программы лояльности).
            Управление информационными рассылками осуществляется Пользователем ТОЛЬКО в личном кабинете на сайте farmabonus.ru.<p/>
            <p>Информация, необходимая для регистрации в Программе лояльности ФАРМАБОНУС, ограничивается номером телефона.
            После регистрации Участнику присваивается номер карты, предназначенный для идентификации Участника в Программе.
            Иных данных для регистрации и участия в Программе не требуется.</p></li>
        <li>Пользователь предоставляет Оператору право для целей исполнения обязательств по Договору об участии в
            Программе лояльности ФАРМАБОНУС передавать Информацию об участнике программы лояльности ООО «Фармасервис» (ОГРН 1021800995810) .</li>
        <li>Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования
            Сайта, оказания услуг, обработка запросов и заявок от Пользователя.</li>
        <li>Определения места нахождения Пользователя для обеспечения безопасности, предотвращения мошенничества.</li>
        <li>Подтверждения достоверности и полноты персональных данных, предоставленных Пользователем.</li>
    </ol>
    <h2>Способы и сроки обработки персональной информации</h2>
    <ol>
        <li>Обработка персональных данных Пользователя осуществляется до достижения целей обработки, любым законным
            способом, в том числе в информационных системах персональных данных с использованием средств автоматизации
            или без использования таких средств.</li>
        <li> Пользователь соглашается с тем, что Администрация сайта вправе передавать персональные данные третьим лицам,
            в частности, курьерским службам, организациями почтовой связи, операторам электросвязи, исключительно в целях
            выполнения предварительно заказа Пользователя, оформленного на Сайте</li>
        <li>Администрация сайта принимает необходимые организационные и технические меры для защиты персональной информации
            Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования,
            распространения, а также от иных неправомерных действий третьих лиц.</li>
        <li> Администрация сайта совместно с Пользователем принимает все необходимые меры по предотвращению убытков или
            иных отрицательных последствий, вызванных утратой или разглашением персональных данных Пользователя.</li>
    </ol>
    <h2>Изменение и удаление персональной информации</h2>
    <ol>
        <li>Пользователь в любое время может удалить данные, указанные на Сайте, путем направления требования
            Администрации Сайта по адресу Республика Беларусь, г. Минск, ул. Промышленная, здание 6.
            В этом случае Администрация Сайта удаляет и уничтожает на Сайте всю информацию о Пользователе без возможности
            восстановления. Удаление данных о Пользователе и прекращение обработки персональных данных Пользователя
            осуществляется Администрацией Сайта в течение 10 (Десяти) рабочих дней с даты получения такого требования.</li>
        <li>Удаление и уничтожение персональной информации Пользователя также производится в порядке п.5.6.
            В этом случае обработка персональной информации Пользователя прекращается с даты их удаления.</li>
    </ol>
    <h2>Обязательства сторон</h2>
    <ol>
        Пользователь обязан:
        <li>Предоставить информацию о персональных данных, необходимую для пользования Сайтом</li>
        <li> Обновить, дополнить предоставленную информацию о персональных данных в случае изменения данной информации.</li>
        Администрация сайта обязана:
        <li>Использовать полученную информацию исключительно для целей, указанных в п. 4 настоящей Политики конфиденциальности.</li>
        <li>Обеспечить хранение конфиденциальной информации в тайне, не разглашать без предварительного письменного разрешения
            Пользователя, а также не осуществлять продажу, обмен, опубликование, либо разглашение иными возможными способами
            переданных персональных данных Пользователя, за исключением п.п. 5.2. и 5.3. настоящей Политики Конфиденциальности.</li>
        <li>Принимать меры предосторожности для защиты конфиденциальности персональных данных Пользователя и обеспечивать
            их охрану от несанкционированного доступа и распространения в соответствии с внутренними правилами и регламентами.</li>
        <li> Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения
            или запроса Пользователя или его законного представителя либо уполномоченного органа по защите прав субъектов
            персональных данных на период проверки, в случае выявления недостоверных персональных данных или неправомерных действий.</li>
    </ol>
    <h2>Ответственность сторон</h2>
    <ol>
        <li>Администрация сайта, не исполнившая свои обязательства, несёт ответственность за убытки, понесённые
            Пользователем в связи с неправомерным использованием персональных данных, в соответствии с законодательством
            Республики Беларусь, за исключением случаев, предусмотренных п.п. 5.2., 5.3. и 8.2. настоящей Политики Конфиденциальности.</li>
        <li>
            В случае утраты или разглашения Конфиденциальной информации Администрация сайта не несёт ответственность, если данная конфиденциальная информация:
            <ul>
                <li>Стала публичным достоянием до её утраты или разглашения.</li>
                <li>Была получена от третьей стороны до момента её получения Администрацией сайта.</li>
                <li>Была разглашена с согласия Пользователя.</li>
            </ul>
        </li>
    </ol>
    <h2>Разрешение споров</h2>
    <ol>
        <li>До обращения в суд с иском по спорам, возникающим из отношений между Пользователем Сайта и Администрацией
            сайта, обязательным является предъявление претензии (письменного предложения о добровольном урегулировании спора).</li>
        <li>Получатель претензии в течение 30 календарных дней со дня получения претензии, письменно уведомляет заявителя
            претензии о результатах рассмотрения претензии.</li>
        <li>При не достижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии с действующим законодательством Республики Беларусь.</li>
        <li>К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией сайта применяется
            действующее законодательство Республики Беларусь.</li>
    </ol>
    <h2>Дополнительные условия</h2>
    <ol>
        <li>Администрация сайта вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.</li>
        <li>Новая Политика конфиденциальности вступает в силу с момента ее размещения на Сайте, если иное не предусмотрено
            новой редакцией Политики конфиденциальности.</li>
        <li>Все предложения или вопросы по настоящей Политике конфиденциальности следует сообщать по электронной почте fharmacy@apt.com</li>
        <li>Действующая Политика конфиденциальности размещена на странице по адресу http://127.0.0.1:8000/main/</li>
    </ol>

</body>
</html>