{% extends 'medicines/layout.html' %}
{% load static %}
{% block title %}Новости{% endblock %}

{% block content %}
    <h1>Развитие сети аптек в сельских районах: преодоление вызовов</h1>
    <p>В последние годы сельские районы столкнулись с недостаточным доступом к медицинским услугам и лекарствам.
        Аптечные сети прилагают усилия для расширения своего присутствия в сельских районах, что помогает решить эту
        проблему и обеспечить жителей необходимыми медицинскими ресурсами.</p>
{% endblock %}