{% extends 'medicines/layout.html' %}
{% load static %}
{% block title %}Вакансии{% endblock %}

{% block content %}
<center>
    <h1>Доступные вакансии</h1>
    <ul class="list-articles">
	    {% for p in posts %}
            <li>
                <article>
                    <h2>{{ p.name }}</h2>
			        {% autoescape on %}
			        <p>{{p.description|linebreaks}}</p>
                    <p>Зарплата: {{p.salary|linebreaks}} рублей в месяц<p/>
			        {% endautoescape %}
                </article>
	    {% endfor %}
</center>
</ul>
{% endblock %}