body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.banner-container {
    display: flex;
    overflow: hidden;
}

.banner {
    cursor: pointer;
    transition: opacity 0.5s;
}

.banner img {
    width: 100%;
}

.admin-form {
    margin-bottom: 20px;
}
/*Для таблицы*/
 table {
            border-collapse: collapse;
            margin: 20px;
        }

        td, th {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }