body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}


nav{
    background: #16A741;
    height: 5vh;
    color: #000000;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #16A741;
}

nav ul li{
    display: inline;
    float: left;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #73ff89;
}

nav li a:visited {
    color: purple;
}

nav li a:active {
    color: red;
}

nav li a:focus {
    outline: 2px solid yellow;
}



nav.active {
    background-color: #bffdc1;
    color: black;
}

aside{
    float: left;
    background: #16A741;
    width: 15%;
    padding: 2.5%;
    height: 100vh;
    color: #000000;
    border-right: 5px solid #ffffff;
    z-index: 1;
}

aside img {
    width: 80px;
    float: left;
}

aside .logo {
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -5px;
    font-family: 'Cinzel Decorative', sans-serif;
    letter-spacing: 1px;
    color: #000000;
}

aside h3 {
    margin-top: 50px;
    font-size: 30px;
}

aside ul{list-style: none}
aside ul li{
    color: #000000;
    display: block;
    margin-top: 20px;
    transition: all .6s ease;
}

aside ul li:hover, aside ul a:hover{
    color: #4ac1f7;
    text-decoration: none;
    transform: scale(1.10);
}

main .features{
    float: left;
    color: #16A741;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1{font-size: 50px;}
main .features p{max-width: 400px; margin: 20px auto}

.alert-warning{
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 10%;
    text-align: left;
    color: #000000;
    background: #16A741;
}

.trapezoid {
	border-bottom: 50px solid #000000;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 0;
	width: 125px;
}

.verse {
  display: table;
  margin: 0 auto; /* для центрирования display: table; не нужно указывать ширину блока, она рассчитывается самостоятельно */
  white-space: pre-line; /* не нужен <br> */
  word-wrap: break-word; /* чтобы слова переносились на маленьком экране */
}

.custom-button:hover {
    cursor: pointer;
}

/* Стиль для первой строки таблицы */
table tr:first-child {
    background-color: #ccc;
}

/* Стиль для последней строки таблицы */
table tr:last-child {
    font-style: italic;
}

/* Стиль для каждой четной строки таблицы */
table tr:nth-child(even) {
    color: blue;
}

/* Стиль для первого элемента списка */
.timeline-list li:first-child {
    font-weight: bold;
}

/* Стиль для последнего элемента списка */
.timeline-list li:last-child {
    color: red;
}

/* Стиль для каждого второго элемента списка */
.timeline-list li:nth-child(2n) {
    background-color: #f0f0f0;
}

/* Стили для доступных элементов формы */
.stylized-form input:enabled, .stylized-form textarea:enabled, .stylized-form select:enabled {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}

/* Стили для заблокированных элементов формы */
.stylized-form input:disabled, .stylized-form textarea:disabled, .stylized-form select:disabled {
    background-color: #f0f0f0;
    color: #999;
    padding: 5px;
    margin: 5px;
}

/* Стили для элементов с значениями вне диапазона (для input[type="number"]) */
.stylized-form input[type="number"]:out-of-range {
    border: 2px solid red;
    padding: 5px;
    margin: 5px;
}

/* Стили для обязательных полей */
.stylized-form input:required, .stylized-form textarea:required, .stylized-form select:required {
    border: 1px solid #f7cb15;
}

/* Стили для необязательных полей */
.stylized-form input:not(:required), .stylized-form textarea:not(:required), .stylized-form select:not(:required) {
    border: 1px solid #ccc;
}

/* Стили для флажка */

.checkbox.style-d {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox.style-d input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox.style-d input:checked ~ .checkbox__checkmark {
  background-color: #f7cb15;
}
.checkbox.style-d input:checked ~ .checkbox__checkmark:after {
  opacity: 1;
}
.checkbox.style-d:hover input ~ .checkbox__checkmark {
  background-color: #eee;
}
.checkbox.style-d:hover input:checked ~ .checkbox__checkmark {
  background-color: #f7cb15;
}
.checkbox.style-d:hover input ~ .checkbox__body {
  color: #f7cb15;
}
.checkbox.style-d .checkbox__checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #eee;
  transition: background-color 0.25s ease;
  border-radius: 11px;
}
.checkbox.style-d .checkbox__checkmark:after {
  content: "";
  position: absolute;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #333;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.25s ease;
}
.checkbox.style-d .checkbox__body {
  color: #333;
  line-height: 1.4;
  font-size: 16px;
  transition: color 0.25s ease;
}

/* Стили для радио кнопок */

.form_radio {
	margin-bottom: 10px;
}
.form_radio input[type=radio] {
	display: none;
}
.form_radio label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 0;
	line-height: 18px;
	user-select: none;
}
.form_radio label:before {
	content: "";
	display: inline-block;
	width: 17px;
	height: 18px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background: #16A741 0 0 no-repeat;
}

/* Checked */
.form_radio input[type=radio]:checked + label:before {
	background: #4ac1f7 0 0 no-repeat;
}

/* Hover */
.form_radio label:hover:before {
	filter: brightness(120%);
}

/* Disabled */
.form_radio input[type=radio]:disabled + label:before {
	filter: grayscale(100%);
}

/* Кавычки для цитат */
.quote-ru::before,
.quote-ru::after {
    content: '"';
}

.quote-en::before,
.quote-en::after {
    content: "'";
}

/* Стиль для списка лекарств */
.catalog-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Автоматически добавлять столбцы, минимальная ширина 200px */
    gap: 20px; /* Расстояние между элементами */
}

.product {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

/* Стили для списка компаний партнеров */
.partners-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
}

.partner-block {
    width: 100px; /
    height: 100px;
    background-color: #16A741;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Настройка тени */
    text-align: center;
    line-height: 100px;
    color: #ffffff;
}

.partner-block img {
    vertical-align: middle;
}

/* Имя компании где-то внутри текста */

.company-name {
    font-family: 'Cinzel Decorative', sans-serif;
    letter-spacing: 1px;
    color: #000000;
    font-weight: bold;
}

/* Стили для баннера */
.banner {
    position: relative;
    width: 50vw;
    height: 50vh;
    overflow: hidden;
}

/* Стили для анимированного объекта */
.animated-object {
    width: 50px;
    height: 50px;
    background-color: #ffffff; /* Цвет объекта */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Центрирование объекта */
    animation: rotateAnimation 3s infinite linear; /* Настройка анимации */
}

/* Ключевые кадры для анимации вращения */
@keyframes rotateAnimation {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* Стили для информации о последней статье */
.last-article-info {
    position: absolute;
    top: 1400px; /* Расстояние от верхнего края */
    right: 20px; /* Расстояние от правого края */
    background-color: #16A741;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    /* Другие стили для информации о последней статье */
}

/* Стили для логотипа */
.logo img {
    transform: rotate(30deg);
    transition: transform 0.3s ease-in-out; /* Плавный переход при изменении трансформации */
}

.logo:hover img {
    transform: rotate(0deg);
}
